<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href="style.css" rel="stylesheet">
<title>Document</title>

</head>
<body>

<div class="container" id="container">
    <div class="side-bar">
        <ul class="nav">
            <li :class="'nav-item ' + (index === curCanvasIndex? 'nav-item--active': '')" v-for="(item, index) in navList" @click="navSelection(index)">{{item}}</li>
        </ul>
        <div class="button-container">
            <button class="play" @click="play">{{pauseFlag? '开始': '暂停'}}</button>
            <div v-show="curCanvasIndex===0">
                <button class="ctrl-button" id="rect">矩形</button>
                <button class="ctrl-button" id="cir">圆形</button>
                <button class="ctrl-button" id="tir">正三角形</button>
                <button class="ctrl-button" id="concave">凹多边形</button>
                <button class="ctrl-button" id="convex">凸多边形</button>
                <div class="input-container">
                    <span>重力：</span>
                    <div>
                        <span>X：</span>
                        <input type="text" v-model="gravityX" />
                    </div>
                    <div>
                        <span>Y：</span>
                        <input type="text" v-model="gravityY" />
                    </div>
                </div>
            </div>

            <div v-show="curCanvasIndex===1">
                <div class="input-container">
                    <div>
                        <span>线速度阻尼：</span>
                        <input type="text" v-model="drag" />
                    </div>
                </div>
            </div>

            <div v-show="curCanvasIndex===2">
                <p class="score">得分：{{score}}</p>
            </div>
        </div>
    </div>
    <div class="demo-container">
        <div 
        :class="'canvas ' + (index === curCanvasIndex? 'canvas--active': '')" 
        :id="'canvas' + index" 
        v-for="(item, index) in navList"
        >
        </div>
    </div>
</div>




<script src="./vue.min.js"></script>
<script src="./../../canvas/dist/bundle.js"></script>
<script src="./demo1.js"></script>
<script src="./demo2.js"></script>
<script src="./demo3.js"></script>
<script src="./script.js"></script>
</body>
</html>






