/*主题色#2bcbba*/


* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}


button {
    border: none;
    outline: none;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2bcbba;
    width: 120px;
    padding: 10px 0 10px 0;
    color: #fff;
    cursor: pointer;
    margin: 20px auto 0;
}

 
.container {
    width: 100%;
    display: flex;
}

.side-bar {
    width: 14%;
    border-right: 1px solid #ddd;
    height: 100vh;
}



.nav {
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.nav-item {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 14px 0 14px 0;
    font-weight: 100;
    color: #333;
    cursor: pointer;
}

.nav-item--active {
    background-color: #2bcbba;
    color: #fff;
}

.demo-container {
    flex-grow: 1;
    width: 84%;
    height: 99vh;
}

.canvas {
    width: 100%;
    height: 100%;
    background-color: #eee;
    display: none;
}

.canvas--active {
    display: block;
}

.button-container {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.input-container {
    margin-top: 20px;
}

.input-container span {
    font-size: 14px;
    color: #333;
}

.input-container > div {
    display: flex;
    padding: 10px 16px 10px 16px;
    justify-content: space-between;
    align-items: center;
}

input {
    border: 1px solid #2bcbba;
    outline: none;
    width: 60px;
    font-size: 18px;
    border-radius: 3px;
    color: #666;
    font-size: 14px;
    padding: 8px;
}

.score {
    text-align: center;
    color: #2bcbba;
    font-size: 24px;
    margin-top: 20px;
    padding: 12px 0 12px 0;
}