<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Document</title>
<link href="./style.css" rel="stylesheet">
</head>
<body>
    
<div class="container" id="container">
    <div class="side-bar">
        <ul class="nav">
            <li :class="'nav-item ' + (index === curCanvasIndex? 'nav-item--active': '')" v-for="(item, index) in navList" @click="navSelection(index)">{{item}}</li>
        </ul>
        <div class="button-container">
            <div v-show="curCanvasIndex===1">
                <button class="ctrl-button" @click="addCategory_bar">添加随机数据</button>
                <div class="input-container">
                    <div>
                        <span>Y轴数据跨度：</span>
                        <input type="text" v-model="interval" />
                    </div>
                    <div>
                        <span>当前数据：</span>
                        <input type="text" v-model="curData" />
                    </div>
                </div>
            </div>

            <div v-show="curCanvasIndex===2">
                <button class="ctrl-button" @click="playChart">{{play? '暂停': '开始'}}</button>
            </div>

            <div v-show="curCanvasIndex===0">
                <button class="ctrl-button" @click="addCategory_pie">添加随机数据</button>
            </div>
        </div>
    </div>
    <div class="demo-container">
        <div 
        :class="'canvas ' + (index === curCanvasIndex? 'canvas--active': '')" 
        :id="'canvas' + index" 
        v-for="(item, index) in navList"
        >
        </div>
    </div>
</div>



<script src="./vue.min.js"></script>
<script src="./../../canvas/dist/bundle.js"></script>
<script src="./PieChat.js"></script>
<script src="BarChart.js"></script>
<script src="PointChart.js"></script>
<script src="./script.js"></script>


</body>